[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/openal-soft"]
	path = lib/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "lib/libsndfile"]
	path = lib/libsndfile
	url = https://github.com/libsndfile/libsndfile
[submodule "lib/GameNetworkingSockets"]
	path = lib/GameNetworkingSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets
